body {
  margin: 0;
  padding: 0;
  font-family: serif;
  height: 100%;
}

html, #root {
  height: 100%;
}


.menu-bar a:visited,
.sub-menu-bar a:visited {
  color: black;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}

.menu-bar {
  flex: none;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  font-weight: 300;
}

.menu-bar > a {
  text-decoration: none;
  text-decoration-color: black;
  margin-right: 35px;
}

.menu-bar a.active,
.menu-bar a:hover {
  font-style: italic;
  font-weight: 300;
}

.sub-menu-bar {
  font-size: 21px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
}

.sub-menu-bar > div {
  margin-right: 20px;
}

.sub-menu-bar a {
  text-decoration: none;
  text-decoration-color: black;
  color: black;
}

.sub-menu-bar .active,
.sub-menu-bar a:hover {
  font-style: italic;
  font-weight: 300;
}

.photo-container {
  display: flex;
  position: relative;
  margin-bottom: 80px;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.photo-overlay {
  width: 100%;
  margin: 30px 0;
  text-align: center;
}

.photo-description--primary  {
  font-weight: 500;
  font-style: normal;
}

.photo-description--secondary  {
  font-weight: 300;
  font-style: italic;
}

.info-container > p {
  font-style: italic;
  font-size: 150%;

}

.info-start {
  display: flex;
  justify-content: left;
  width: 50%;
  margin: 2.5rem;
}

.info-middle {
  display: flex;
  justify-content: left;
  margin: 2.5rem;
}

.info-end {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  margin: 2.5rem;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
.styling--fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

.styling {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.styling__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 42px;
  padding: 20px;
  text-decoration: none;
  text-decoration-color: black;
  color: black;
}

.styling__content {
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.styling__header a {
  text-decoration: none;
  text-decoration-color: black;
}

.collection {
	/*
	 * Use the same CSS variable as specified in our instance.
	 */
	margin-left: var(--margin-left);
	/*
	 * The will-change CSS property provides a way for authors to hint browsers about the kind of changes
	 * to be expected on an element, so that the browser can setup appropriate optimizations ahead of time
	 * before the element is actually changed.
	 */
	will-change: margin-left;
}