@font-face {
  font-family: 'HelveticaNeue';
  src: url(/fonts/HelveticaNeue/HelveticaNeue-Light.ttf) format('truetype'),
    url(/fonts/HelveticaNeue/HelveticaNeue-Light.otf) format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url(/fonts/HelveticaNeue/HelveticaNeue-Light.ttf) format('truetype'),
    url(/fonts/HelveticaNeue/HelveticaNeue-Light.otf) format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url(/fonts/HelveticaNeue/HelveticaNeue-ThinItalic.ttf) format('truetype'),
    url(/fonts/HelveticaNeue/HelveticaNeue-ThinItalic.otf) format('opentype');
  font-weight: 300;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #ffb7b7;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'HelveticaNeue', sans-serif;
  padding: 45px 85px 0;
}

html,
#root {
  width: 100%;
  height: 100%;
}

.hidden {
  opacity: 0;
  transition: all 220ms;
}

.app-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  overflow: auto;
}

.body {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.body::-webkit-scrollbar {
  display: none;
}

.menu-bar {
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 28px;
  font-weight: 300;
}

.menu-bar > a {
  text-decoration: none;
  text-decoration-color: black;
  margin-right: 35px;
}

.menu-bar a:visited,
.sub-menu-bar a:visited {
  color: black;
}

.menu-bar a.active,
.menu-bar a:hover {
  font-style: italic;
  font-weight: 300;
}

.sub-menu-bar {
  font-size: 30px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
}

.sub-menu-bar > div {
  margin-right: 25px;
}

.sub-menu-bar a {
  text-decoration: none;
  text-decoration-color: black;
  color: black;
}

.sub-menu-bar .active,
.sub-menu-bar a:hover {
  font-style: italic;
  font-weight: 300;
}

.photo-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.photo-overlay {
  width: 100%;
  text-align: center;
}

.photo-description--primary {
  font-size: 30px;
  margin-top: 45px;
  margin-bottom: 15px;
  font-weight: 500;
}

.photo-description--secondary {
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
}

.info-container > p {
  font-style: italic;
  font-size: 150%;
}

.info-start {
  display: flex;
  justify-content: left;
  width: 50%;
  margin: 2.5rem;
}

.info-middle {
  display: flex;
  justify-content: left;
  margin: 2.5rem;
}

.info-end {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  margin: 2.5rem;
}

.styling {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.styling__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 42px;
  padding: 20px;
  text-decoration: none;
  text-decoration-color: black;
  color: black;
}

.styling__content {
  padding-top: 65px;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.styling__header a {
  text-decoration: none;
  text-decoration-color: black;
}
